extends layout
block content
		nav.navbar.navbar-custom.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="./")
						b SimBiss
						
		<br /><br /><br />
		.container
			.jumbotron
				h1 About Us
				img.img-rounded.img-responsive(src="/images/us.PNG", width='60%', align="left")
				p This webiste was created in July of 2016 by Madeline Griswold and Lucy Fan.  When creating the website, Madeline and Lucy were both incoming high school seniors planning to major in computer science. 
		<br />

		h1 ''
		h4 I always wanted a way to connect with others who had passions and interests similar to mine.<br />  That's why we created SimBiss: to give everyone that opportunity to engage and connect in projects.
		h1  ''
		h3 -Madeline (co-founder)